<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="./dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./tables.html">
          <i class="material-icons">content_paste</i>
          <p>Score Card</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <i class="material-icons">grading</i>
          <p>My Score Card</p>
        </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="./notifications.html">
          <i class="material-icons">how_to_vote</i>
          <p>Give Feedback</p>
        </a>
      </li>
      
      <li class="nav-item ">
        <a class="nav-link" href="./notifications.html">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      
    </ul>
  </div>